body{
  background-color: black;
  color: white;
}
body::-webkit-scrollbar{
  display: none;
}

.nav_bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 12px;
  background-color: rgb(91, 31, 148);
  /* position: fixed;
  z-index: 100; */
}

.search_bar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  width: 30%;
  padding: 10px;
}

.search_bar input{
  border: none;
  color: white;
  width: 400px;
  background-color: black;
}

.search_bar input::placeholder{
    font-weight: bold;
    color:white;
}
.search_bar input:focus{
  outline:none;
}

.sub_bar{
  background-color:blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sub_bar .items{
 padding :10px;
 font-weight: bold;
}

.sub_bar .items:hover{
 background-color: black;
 cursor: pointer;
 }